table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #C0B9DD;
}

tr:hover {
    background-color: #DED9E2;
}

#deleteButton {
    cursor: pointer;
}